//VARIABLES
$base-white: #f3f3f3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  a{
    text-decoration: none;
  }
}


.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  background: linear-gradient(45deg, #0f2027, #203a43, #2c5364 );
  color: $base-white;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: $base-white;
  }
  // ul {
  //   width: 50%;
  //   display: flex;
  //   justify-content: space-between;
  // }
  // li {
  //   list-style: none;
  // }
  header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px; 
    // height: 6vh;
    // display: flex; 
    // justify-content: center;
    // align-items: center;
    .logo {
      color: $base-white;
      font-size: 24px;
      height: 50px;
      line-height: 50px;
      font-weight: bold;
      float: left;
    }

    .menu-toggle {
      float: right;
      line-height: 50px;
      font-size: 24px;
      color: $base-white;
      cursor: pointer;
    }

    nav {
      float: right;
      ul {
        display: flex;
        li {
          list-style: none;
          a {
            height: 50px;
            line-height: 50px;
            padding: 0 20px; 
            display: block;
          }
          a:hover,
          a.active {
            background:lightcoral;
          }
        }
      }
    }
  }
}


.hero:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: #fff;
  -webkit-clip-path: polygon(100% 20%, 0% 100%, 100% 100%, 100% 100%);
  clip-path: polygon(100% 20%, 0% 100%, 100% 100%, 100% 100%);
  
}

.content {
  position: relative;
  max-width: 900px;
  text-align: center;
  h2 {
    font-size: 5rem;
  }
  p {
    font-size: 1.5rem;
  }
}




/* For desktop: */
// @media only screen and (min-width: 768px) {
//   section {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 100%; 
//     // height: 100vh;
//     .showcase {
//       // background: lavender;
//       border: 1px solid red;
//       display: grid; 
//       grid-template-columns: 1fr 1fr 1fr;
//       grid-template-rows: 1fr 1fr; 
//       width: 100%;
//       padding: 2rem 5rem;
//       .project-card {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
        

//         // border: 1px solid lime;
//         margin: 10px;
//       }
//       .project-description {
//         width: 100%;
//         text-align: center;
//         background: $base-white;
//         box-shadow: 0px 6px 12px 2px rgba(0,0,0,.08);
//       }
//       .project-img{
//         width: 100%;
//       }
//     }
//   }

//   .hero {
//     position: relative;
//     width: 100%;
//     height: 90vh;
//     background: linear-gradient(45deg, #0f2027, #203a43, #2c5364 );
//     color: $base-white;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     a {
//       color: $base-white;
//     }
//     ul {
//       width: 50%;
//       display: flex;
//       justify-content: space-between;
//     }
//     li {
//       list-style: none;
//     }
//     header{
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       padding: 1rem; 
//       height: 6vh;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }
//   }

//   .hero:before {
//     content: '';
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 200px;
//     background: #fff;
//     -webkit-clip-path: polygon(100% 20%, 0% 100%, 100% 100%, 100% 100%);
//     clip-path: polygon(100% 20%, 0% 100%, 100% 100%, 100% 100%);
    
//   }

//   .content {
//     position: relative;
//     max-width: 900px;
//     text-align: center;
//     h2 {
//       font-size: 5rem;
//     }
//     p {
//       font-size: 1.5rem;
//     }
//   }
// }



