body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px; }
  body a {
    text-decoration: none; }

h2 {
  font-size: 3.5rem; }

h3 {
  font-size: 1.7rem; }

h4 {
  font-size: 1.1rem; }

.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  background: linear-gradient(45deg, #0f2027, #203a43, #2c5364);
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero a {
    color: #f3f3f3; }
  .hero header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px; }
    .hero header .logo {
      color: #f3f3f3;
      font-size: 24px;
      height: 50px;
      line-height: 50px;
      font-weight: bold;
      float: left; }
    .hero header .menu-toggle {
      float: right;
      padding: 0 2rem;
      line-height: 50px;
      font-size: 24px;
      color: #f3f3f3;
      cursor: pointer;
      display: none; }
    .hero header nav {
      float: right; }
      .hero header nav ul {
        display: flex; }
        .hero header nav ul li {
          list-style: none; }
          .hero header nav ul li a {
            height: 50px;
            line-height: 50px;
            padding: 0 20px;
            display: block; }
          .hero header nav ul li a:hover,
          .hero header nav ul li a.active {
            background: lightcoral; }

.hero:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: #fff;
  --webkit-clip-path: polygon(100% 20%, 0% 100%, 100% 100%, 100% 100%);
  clip-path: polygon(100% 20%, 0% 100%, 100% 100%, 100% 100%); }

.content {
  position: relative;
  max-width: 900px;
  text-align: center; }
  .content p {
    font-size: 1rem; }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  section .showcase {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    width: 100%; }
    section .showcase .project-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 20px; }
    section .showcase .project-description {
      width: 100%;
      text-align: center;
      background: #f3f3f3;
      box-shadow: 0px 6px 12px 2px rgba(0, 0, 0, 0.08); }
    section .showcase .project-img {
      width: 100%; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  footer ul {
    list-style: none;
    display: flex; }
    footer ul .icon {
      padding: 0 20px;
      color: #2c5364; }

@media (max-width: 991px) {
  .hero header {
    padding: 0 20px; }
    .hero header nav {
      position: absolute;
      top: 50px;
      left: -1200px;
      width: 100%;
      height: calc(100vh - 50px);
      background: rgba(22, 42, 50, 0.94);
      transition: 0.5s; }
      .hero header nav ul {
        display: block;
        text-align: center; }
        .hero header nav ul li a {
          border-bottom: 1px solid #203c47; }
      .hero header nav .social ul li {
        display: inline-block; }
    .hero header nav.active {
      left: 0;
      z-index: 1; }
    .hero header .menu-toggle {
      display: block; }

  section .showcase {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; } }
/* DESKTOP */
@media only screen and (min-width: 992px) {
  .hero header nav {
    display: flex;
    justify-content: flex-end; }
    .hero header nav .social {
      margin: 0 10px; }
    .hero header nav .icon {
      padding: 0 10px; }

  section .showcase {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; } }

/*# sourceMappingURL=style.css.map */
